--extra-index-url https://download.pytorch.org/whl/cu118
torch~=2.1.0
torchvision~=0.16.0
torchsde
einops
numexpr
matplotlib
pandas
av
pims
imageio_ffmpeg
rich
gdown
py3d
librosa
numpy~=1.26.1
opencv-contrib-python
basicsr
diffusers
transformers~=4.34.1
omegaconf
aiohttp
scipy
psutil
clip-interrogator
streamlit